<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-4">
      <%= search_form_for @q do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Título' %>
        <%= f.search_field :name_matches_any, class: 'form-control', placeholder: 'título' %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :author_name, 'Autor' %>
        <%= f.search_field :author_name_matches_any, class: 'form-control', placeholder: 'nombre del autor' %>
      </div>
      <% end %>
    </div>
  </div>
</div>