<!DOCTYPE html>
<html>
  <head>
    <title>Second Hand Books </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <%= render 'shared/navigation_bar' %>
    <%= yield %>
  </body>
</html>
